configuration{
    modi: "drun,run,window,calc,ssh";
    cycle: true;
    line-margin: 10;
    show-icons: true;
    sidebar-mode: false;
    icon-theme: "oomox-Kanagawa";

    display-drun: 	  "Apps";
    display-calc:    "Calc";
    display-run:     "Execute";
    display-window:  "Containers";
    display-ssh:     "SSH";
    display-combi:   "Mr. Mix";
}

@theme "~/.config/rofi/themes/kanagawa.rasi"
