[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Autolock
Comment=Autolock the screen after inactive time
Exec=sh /home/o5-14/.scripts/autolock.sh
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

